

<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Company</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Score</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="person in ctrl.model.peoples" ng-include="ctrl.getTemplate(person)">
  </tr>
</table>
<script type="text/ng-template" id="display">
  <td ng-bind="person.firstName"></td>
  <td ng-bind="person.lastName"></td>
  <td ng-bind="person.role"></td>
  <td ng-bind="person.company"></td>
  <td ng-bind="person.email"></td>
  <td ng-bind="person.phone"></td>
  <td ng-bind="person.score"></td>
  <td>
    <!--<input type="button" value="Add" class="btn btn-primary" ng-click="ctrl.addRow()"/>-->
    <input type="button" value="Edit" class="btn btn-primary" ng-click="ctrl.editPerson(person)"/>
    <input type="button" value="Remove" class="btn btn-primary" ng-click="ctrl.removeRow(person.firstName)"/>
  </td>
</script>
<script type="text/ng-template" id="edit">
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.firstName" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.lastName" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.role" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.company" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.email" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.phone" /></td>
  <td><input type="text" class="form-control" ng-model="ctrl.model.selected.score" /></td>
  <td>
    <button type="button" class="btn btn-primary" ng-click="ctrl.savePerson($index)">Save</button>
    <button type="button" class="btn btn-primary" ng-click="ctrl.reset()">Cancel</button>
  </td>
</script>
