<!--<div class="hello-world" ng-bind="ctrl.greeting">-->
<!--</div>-->

<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
    <th>Company</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Score</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="person in ctrl.peoples">
    <td ng-bind="person.firstName"></td>
    <td ng-bind="person.lastName"></td>
    <td ng-bind="person.role"></td>
    <td ng-bind="person.company"></td>
    <td ng-bind="person.email"></td>
    <td ng-bind="person.phone"></td>
    <td ng-bind="person.score"></td>
    <td>
      <input type="button" value="Remove" class="btn btn-primary" ng-click="ctrl.removeRow(person.firstName)"/>
      <input type="button" value="Add" class="btn btn-primary" ng-click="ctrl.addRow()"/>
    </td>
  </tr>
</table>
