h2.text-center Events history

input.form-control.ng-pristine.ng-valid(type="text" ng-model='searchKeyword' placeholder='Search...')

table.table.col-xs-7(style="margin: 0 auto;")
    tr
        th
            a(href="" ng-click="orderByField='name'; reverseSort = !reverseSort") Date
        th
            a(href="" ng-click="orderByField='name'; reverseSort = !reverseSort") Score
        th
            a(href="" ng-click="orderByField='name'") Stakeholders
    tr(ng-repeat='event in $ctrl.dataStorage.events | filter: searchKeyword | orderBy:orderByField:reverseSort track by $index ')
        td
            p(ng-bind='event.date')
        td
            p(ng-bind='event.score')
        td
            div(ng-repeat='stakeholder in event.stakeholders track by $index')
                p(ng-bind='stakeholder.firstName')
