h2.text-center Events history

table.table.col-xs-7(style="margin: 0 auto;")
    tr
        th Date
        th Score
        th Stakeholders
    tr(ng-repeat='event in $ctrl.dataStorage.events track by $index')
        td
            p(ng-bind='event.date')
        td
            p(ng-bind='event.score')
        td
            div(ng-repeat='stakeholder in event.stakeholders track by $index')
                p(ng-bind='stakeholder.firstName')

