doctype html
html(ng-app='app')
    head(lang='en')
        meta(charset='UTF-8')
        title NPS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='index.styles.css')
    body
        h1 NPS OLOLOLO
        script(src='https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js')
        script(src='bundle.js')
        button#myBtn.hidden Open Modal
        #myModal.modal
            .modal-content
                span.close ×
                h2#modal-text Node information:
                p#firstName First name:
                p#lastName Last name:
                p#role Role:
                p#company Company:
                p#email E-mail:
                p#phone Phone:
                p#score Score:
        canvas(stakeholders-graph='', width='800', height='600')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')
        // <script src="app/jquery/dist/jquery.min.js"></script>
        script(src='arbor/lib/arbor.js')
        contacts-table
