form.form-horizontal(role='form', name='addEdgeForm', ng-submit='$ctrl.addEdge()')
    h2.text-center Create connection between:
    label.col-md-12.stakeholder(for='stakeholder1')  1st stakeholder
    select#stakeholder1.form-control.col-md-12(
        name='stakeholder1',
        ng-model='$ctrl.edge.src')
        option(ng-repeat='option in $ctrl.stakeholdersList track by $index', value='{{option.id}}', ng-bind="option.firstName")
    label.col-md-12.stakeholder(for='stakeholder2')  2nd stakeholder
    select#stakeholder2.form-control.col-md-12(name='stakeholder2', ng-model='$ctrl.edge.dest')
        option(ng-repeat='option in $ctrl.stakeholdersList', value='{{option.id}}', ng-bind="option.firstName")
    .form-group
        button.btn.btn-primary.col-md-offset-6(type='submit') Submit